
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" th:href="@{/css/menu.css}">
</head>
<body>
<div th:fragment="footer" th:remove="tag">

	<!-- Load more -->



	<!-- Footer -->
	<footer class="bg3 p-t-75 p-b-32">
		<div class="container">
			<div class="p-t-27" style="text-align: center;">
				<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16"> <i
						class="fa fa-facebook"></i>
				</a> <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16"> <i
					class="fa fa-instagram"></i>
			</a> <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16"> <i
					class="fa fa-twitter"></i>
			</a> <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16"> <i
					class="fa fa-google-plus"></i>
			</a> <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16"> <i
					class="fa fa-youtube"></i>
			</a> <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16"> <i
					class="fa fa-pinterest-p"></i>
			</a>
			</div>
			<div class="row">



				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						<p th:text="#{menu.category}"></p>
					</h4>

					<ul>
						<c:forEach th:each="category : ${categoryList}">
							<li class="p-b-10 as"><a class="textb"
													 th:href="@{'/productsByCategory?id='+${category.id}}"> <span
									th:text="${category.name}"></span></a></li>
						</c:forEach>

					</ul>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						<p th:text="#{footer.1}"></p>
					</h4>

					<ul>
						<p>TrueShop chuyên giày Replica 1:1</p>
						<p>Cam kết chất lượng số 1 thị trường</p>
						<p>
							<i class="fa fa-location-arrow"></i>
						<p th:text="#{footer.4}"></p>
						</p>
						<p>
							<i class="fa fa-rocket"></i>
						<p th:text="#{footer.5}"></p>
						</p>

					</ul>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						<p th:text="#{contact.get}"></p>
					</h4>

					<ul>
						<li class="diachi"><i class="fa fa-location-arrow"></i> <i
								style="color: #525252">163 Phú Đô, Nam Từ Liêm, Hà Nội</i></li>
						<li class="diachi"><i class="fa fa-phone"></i> <i> <a
								href="#" style="color: #525252">0962.593.003</a> <a href="#"
																					style="color: #525252">032.919.3410</a> <a href="#"
																															   style="color: #525252">0976.356.789</a>
						</i></li>
						<li class="diachi"><i class="fa fa-envelope"></i> <i><a
								href="#" style="color: #525252">anhldph07813@gmail.com</a> </i></li>
					</ul>


				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						<p th:text="#{footer.6}"></p>
					</h4>

					<form>

						</iframe>
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.5484257971475!2d105.76294735071777!3d21.01073118593957!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313453594582c63f%3A0xf639d1c0929260b8!2zMTYzIFBow7ogxJDDtCwgTeG7hSBUcsOsLCBU4burIExpw6ptLCBIw6AgTuG7mWksIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1612366722636!5m2!1svi!2s" width="350" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

					</form>
				</div>
			</div>
		</div>
	</footer>


</div>
</body>
</html>
