<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="client/template">
<head>
<meta charset="UTF-8"/>
<meta http-equiv="x-ua-compatible" content="ie=edge"/>
         <title> Quên mật khẩu </title> 
         <meta name="description" content="text/html; charset=UTF-8"/>
            <meta name="viewport" content="width=device-width, initial-scale=1"/>
           
</head>
<body layout:fragment="content" th:remove="tag">

<div></div>

    <br>
              <form th:action="@{/resetpassword}" class="form-signin" method="POST">
                <div class="container">
                   <!--  <h2 class="account-in text-center">
                       Đăng nhập
                   </h2> -->
                    <div class="accordion">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xl-12">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xl-12">
                                <div class="jumbotron">
                                    <div class="text-center">
                                        <h3>
                                            <i class="fa fa-lock fa-4x">
                                            </i>
                                        </h3>
                                        <h2 class="text-center">
                                            Bạn đã quên mật khẩu?
                                        </h2>
                                        <p>
                                            Hãy nhập email để lấy lại mật khẩu?
                                        </p>
                                        <div class="panel-body">
                                            <form autocomplete="off" class="form" id="register-form" method="post" role="form">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        
                                                        <input class="form-control" id="email" name="email" placeholder="Email" type="email">
                                                        </input>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <input class="btn btn-lg btn-primary btn-block" name="recover-submit" type="submit" value="Lấy lại mật khẩu">
                                                    </input>
                                                </div>
                                                <input class="hide" id="token" name="token" type="hidden" value="">
                                                </input>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
   
                
</body>
</html>